snippet ( "Parentheses" w
(${1:${VISUAL}})
endsnippet

snippet [ "Square brackets" w
[${1:${VISUAL}}]
endsnippet

snippet < "Angle brackets" w
<${1:${VISUAL}}>
endsnippet

snippet { "Curly brackets" w
{${1:${VISUAL}}}
endsnippet
